.rental {
  padding: 10px;
  color: white;
}

li button {
  padding: 10px;
  margin: 10px;
}

.content-body {
  background-image: url('film.jpg');
  background-size: auto;
  border: 5px solid rgb(255, 201, 9);
  background-position: top;
}

#header {
  text-align: center;
  font-size: 3em;
}

h1 {
  color: rgb(255, 191, 0);
}
