input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=submit] {
  padding: 5px;
  margin: auto;
  font-size: 1em;
  background-color: rgb(214, 214, 212);
}
