.menu {
  border: 5px solid rgb(237, 221, 12);
}
.menu li {
  display: inline-block;
  color: goldenrod;
  text-align: center;
  text-decoration: none;
}

.menu li a {
  display: block;
  color: rgb(219, 184, 32);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1d1aad;
}
